<section class="approach container-fluid my-5 py-5">
	<!--APPROACH TITLE-->
	<div class="container">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">
				<h2 class="approach__title mb-4 fs-2 fw-bolder text-center">Делаем только нужное</h2>
				<p class="approach__subtitle fs-3 text-center text-muted text-uppercase">Создание сайта под ключ</p>
			</div>
		</div>
	</div>
	<!--APPROACH ITEMS-->
	<div class="container">
		<div class="row gap-5 d-flex align-items-stretch justify-content-center">
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/leads-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/leads.png">
						<img src="img/seo/leads.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Аналитика</h3>
				<p class="approach__item-text p-3">Определяются цели создания сайта: аудитория, конкуренты, типа сайта. Ананлизируется для чего клиенту сайт, какие задачи он должен решать: представителять компанию в сети Интернет, продавать или презентовать товары или услуги, стать качественной рекламой компании или визиткой, повысить узнаваемость и охват аудитории.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/online-marketing-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/online-marketing.png">
						<img src="img/seo/online-marketing.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Формирование технического задания</h3>
				<p class="approach__item-text p-3">Техническое задание – это основа для специалистов "Велес Диджитал". Определяются детальные характеристики будущего сайта: основы дизайна (цветовая палитра, стиль, соотношение графики и текта), структура сайта (страницы, блоки, категории), функциональность сайта, используемые технологии и другие требования к сайту.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/screen-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/screen.png">
						<img src="img/seo/screen.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Дизайн сайта</h3>
				<p class="approach__item-text p-3">Разработка дизайна – один из главных этапов создания сайта. Ведь это то, что в первую очередь видит конечный потребитель. Дизайнер отвечает за визуальную эстетическую составляющую ресурса: цвета, шрифты, раположение блоков. Если компания заказчика имеет свой сложившийся стиль, то дизайн разрабатывается в его соответствии. Дизайнеры "Велес Диджитал" также готовы создать стиль для новой компании.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/seo-keyword-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/seo-keyword.png">
						<img src="img/seo/seo-keyword.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Верстка сайта</h3>
				<p class="approach__item-text p-3">Верстальщики с помощью языка HTML либо систем управления сайтом переводят готовый дизайн в рабочий проект. Дизайн сайта переходит в свою "живую" версию, где есть взаимодействие с элементами страниц, работают переходы по страницами, прописывается логика работы сайта. В обязательном порядке верстальщики делают как декстопную так и мобильную версию сайта.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/seo-analytics-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/seo-analytics.png">
						<img src="img/seo/seo-analytics.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Аналитика и отчетность
				</h3>
				<p class="approach__item-text p-3">Ежемесячно анализируем позиции в поисковых системах, а также трафик и
					поведение пользователей на вашем сайте. Предоставляем отчёты о проделанной работе, формируем дальнейшие
					рекомендации.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/seo/app-design-min.png">
						<source media="(min-width: 577px)" srcset="img/seo/app-design.png">
						<img src="img/seo/app-design.png" class="figure-img img-fluid" alt="SEO TOP">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Глубокая оптимизация сайта
				</h3>
				<p class="approach__item-text p-3">Проводим технический аудит, выявляем уязвимые места сайта, находим ошибки,
					проблемы. Составляем план работ на несколько месяцев. Осуществляем переработку сайта. Проводим его техническую
					оптимизацию, изменяем содержимое сайта. При необходимости меняем структуру разделов/подразделов.</p>
			</article>
		</div>
	</div>
</section>