<section class="approach container-fluid my-5 py-5">
	<!--APPROACH TITLE-->
	<div class="container">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">
				<h2 class="approach__title mb-4 fs-2 fw-bolder text-center">Этапы разработки</h2>
				<p class="approach__subtitle fs-3 text-center text-muted text-uppercase">Создание сайта под ключ</p>
			</div>
		</div>
	</div>
	<!--APPROACH ITEMS-->
	<div class="container">
		<div class="row gap-5 d-flex align-items-stretch justify-content-center">
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/analytics.png">
						<source media="(min-width: 577px)" srcset="img/web/analytics.png">
						<img src="img/web/analytics.png" class="figure-img img-fluid" alt="analytics">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Аналитика</h3>
				<p class="approach__item-text p-3">Определяются цели создания сайта: аудитория, конкуренты, типа сайта. Ананлизируется для чего клиенту сайт, какие задачи он должен решать: представителять компанию в сети Интернет, продавать или презентовать товары или услуги, стать качественной рекламой компании или визиткой, повысить узнаваемость и охват аудитории.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/task-min.jpg">
						<source media="(min-width: 577px)" srcset="img/web/task.jpg">
						<img src="img/web/task.jpg" class="figure-img img-fluid" alt="task">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Формирование технического задания</h3>
				<p class="approach__item-text p-3">Техническое задание – это основа для специалистов «Велес Диджитал». Определяются детальные характеристики будущего сайта: основы дизайна (цветовая палитра, стиль, соотношение графики и текта), структура сайта (страницы, блоки, категории), функциональность сайта, используемые технологии и другие требования к сайту.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/design-min.jpg">
						<source media="(min-width: 577px)" srcset="img/web/design.jpg">
						<img src="img/web/design.jpg" class="figure-img img-fluid" alt="design">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Дизайн сайта</h3>
				<p class="approach__item-text p-3">Разработка дизайна – один из главных этапов создания сайта. Ведь это то, что в первую очередь видит конечный потребитель. Дизайнер отвечает за визуальную эстетическую составляющую ресурса: цвета, шрифты, раположение блоков. Если компания заказчика имеет свой сложившийся стиль, то дизайн разрабатывается в его соответствии. Дизайнеры «Велес Диджитал» также готовы создать стиль для новой компании.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/screen-min.png">
						<source media="(min-width: 577px)" srcset="img/web/screen.png">
						<img src="img/web/screen.png" class="figure-img img-fluid" alt="layout">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Верстка сайта</h3>
				<p class="approach__item-text p-3">Верстальщики вручную пишут разметку и стилизацию сайта либо созадют его с помощью систем управления сайтом: переводят готовый дизайн в рабочий проект. Дизайн сайта переходит в свою «живую» версию, где есть взаимодействие с элементами страниц: кнопки, галереи, карточки товаров. В обязательном порядке верстальщики делают как декстопную так и мобильную версию сайта.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/programming-min.png">
						<source media="(min-width: 577px)" srcset="img/web/programming.png">
						<img src="img/web/programming.png" class="figure-img img-fluid" alt="programming">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Программирование сайта</h3>
				<p class="approach__item-text p-3">Программист подключается к работе, если разрабатывается большой и сложный проект и требуется создание логики работы сайта. Задачей специалиста стоит разработка сложных функций: калькулятора, системы оплаты с помощью банковских карт, конвертер валюты, корзина для покупок то есть всех тех функций, которые не входят в стандартный пакет функционала.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/content-min.png">
						<source media="(min-width: 577px)" srcset="img/web/content.png">
						<img src="img/web/content.png" class="figure-img img-fluid" alt="content">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Контент</h3>
				<p class="approach__item-text p-3">Этап заполнения предполагает перевод контента в необходимый формат и размещение на страницах сайта. Сайт наполняется как информационными материалыми так и графическими. Материалы подготавливаются копирайтерами, дизайнерами по техническому заданию. Страницы проходят внутреннюю SEO-оптимизацию.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/testing-min.png">
						<source media="(min-width: 577px)" srcset="img/web/testing.png">
						<img src="img/web/testing.png" class="figure-img img-fluid" alt="testing">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Тестирование</h3>
				<p class="approach__item-text p-3">Важную роль в веб-разработке играет тестирование работы сайта. Не смотря на то, что на каждом этапе проводится проврека, финальное тестирование помогает быть уверен в готовом продукте. Все найденные недоработки сразу устраняются. После тестирования сайт переносится на его постоянное место прописки в Интернете – хостинг, где его вновь тестируют.</p>
			</article>
			<article class="approach__item col-12 col-md-5 d-flex flex-column p-0 border border-1">
				<figure class="figure w-100">
					<picture>
						<source media="(max-width: 576px)" srcset="img/web/support-min.png">
						<source media="(min-width: 577px)" srcset="img/web/support.png">
						<img src="img/web/support.png" class="figure-img img-fluid" alt="support">
					</picture>
				</figure>
				<h3 class="approach__item-title flex-grow-1 p-3 fs-5 text-break">Техническая поддержка</h3>
				<p class="approach__item-text p-3">«Велес Диджитал» предлагает для созданных сайтов как полное абонентское обслуживание, так и точечные доработки и правки. Это означает своевременное обновление информации на сайте и поддержание его работоспособности. Таким образом, «Велес Диджитал» не только выполнит все работы по «сайтостроению», но и в последующем будет улучшать, наполнять и настраивать готовый ресурс.</p>
			</article>
		</div>
	</div>
</section>