<section class="faq container-fluid mb-0 py-5">
<!--FAQ TITLE-->
<div class="review__head container my-5">
	<div class="row flex-column justify-content-center align-items-center">
		<div class="col-12 d-flex flex-column justify-content-center align-items-center">
			<h2 class="faq__title mb-4 fs-2 fw-bolder text-center">Часто задаваемые вопросы</h2>
		</div>
	</div>
</div>
<!--FAQ INFO-->
<div class="container mb-5">
	<div class="row gap-0 gap-md-2 justify-content-center justify-content-lg-between">
		<!--FAQ ITEM #1-->
		<article class="faq__article col-12 col-sm-10 col-md-5 pt-5 py-md-5 px-1 px-lg-5">
			<div class="accordion accordion-flush" id="faq-1">
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headOne">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-One" aria-expanded="false" aria-controls="faq-1-One">
							Какие задачи решает одностраничный сайт?
						</button>
					</h2>
					<div id="faq-1-One" class="accordion-collapse collapse" aria-labelledby="faq-1-headOne" data-bs-parent="#faq-1">
						<div class="accordion-body">
								<p class="mb-1">Наличие удобного сайта с высокой конверсией, повышающего лояльность клиентов.</p>
								<p class="mb-1">Возможность собрать контакты «тёплой» аудитории для email-рассылки.</p>
								<p class="mb-1">Простая и эффективная форма для сбора заявок на товары или услуги.</p>
								<p class="mb-1">Популяризация вашего главного сайта, если таковой имеется.</p>
								<p class="mb-1">Повышение отдачи от контекстной рекламы в Интернете.</p>
								<p class="mb-1">Ускорение развития бизнеса, стабильный рост продаж.</p>
								<p class="mb-1">Возможность быстро окупить затраты на создание лендинга.</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headTwo">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-Two" aria-expanded="false" aria-controls="faq-1-Two">
							Какие задачи решает корпоративный сайт?
						</button>
					</h2>
					<div id="faq-1-Two" class="accordion-collapse collapse" aria-labelledby="faq-1-headTwo" data-bs-parent="#faq-1">
						<div class="accordion-body">
								<p class="mb-1">Возможность круглосуточного, без перерывов и выходных обрабатывания заказов.</p>
								<p class="mb-1">Возможность проводения маркетинговых исследований, таргетирования рекламы.</p>
								<p class="mb-1">Работа с электронной почтой, прием или рассылка писем.</p>
								<p class="mb-1">Развитие своего бренда, создание и укрепление имиджа компании.</p>
								<p class="mb-1">Расширение клиентской базы до масштабов всей России и даже мира.</p>
								<p class="mb-1">Координация работы сотрудников в нескольких городах или странах.</p>
								<p class="mb-1">Рост продаж, появление новых клиентов, партнеров, инвесторов.</p>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-1-headThree">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1-Three" aria-expanded="false" aria-controls="faq-1-Three">
							Какие задачи решает сайт интернет-магазина?
						</button>
					</h2>
					<div id="faq-1-Three" class="accordion-collapse collapse" aria-labelledby="faq-1-headThree" data-bs-parent="#faq-1">
						<div class="accordion-body">
							<p class="mb-1">Сайт принимает заказы без перерывов на обед, без выходных и праздников, круглые сутки.</p>
							<p class="mb-1">Беспрепятсвенное увеличение количества и категорий товара.</p>
							<p class="mb-1">Отсутствие границ для торговли во времени и пространстве.</p>
							<p class="mb-1">Отсутствие необходимости в покупке/аренде помещения, обустраивания торгового зала, найме большого количества персонала: достаточно компактного склада.</p>
							<p class="mb-1">Продажа товаров в масштабах всей России и даже мира.</p>
							<p class="mb-1">Координация работы сотрудников в нескольких городах или странах.</p>
							<p class="mb-1">Рост продаж, появление новых клиентов.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<!--FAQ ITEM #2-->
		<article class="faq__article col-12 col-sm-10 col-md-5 pb-5 py-md-5 px-1 px-lg-5">
			<div class="accordion accordion-flush" id="faq-2">
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headOne">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-One" aria-expanded="false" aria-controls="faq-2-One">
							Сколько времени необходимо на разработку сайта?
						</button>
					</h2>
					<div id="faq-2-One" class="accordion-collapse collapse" aria-labelledby="faq-2-headOne" data-bs-parent="#faq-2">
						<div class="accordion-body">Срок создания сайта под ключ зависит от объёма работы. Средний срок создания качественного многостраничного сайта составляет примерно 20-30 дней. Создание лендинга занимает от 5 до 10 дней. В любом случае специалисты «Велес Диджитал» стремятся к минимизации сроков разработки.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headTwo">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-Two" aria-expanded="false" aria-controls="faq-2-Two">
							Не дорого ли стоит разработка сайта?
						</button>
					</h2>
					<div id="faq-2-Two" class="accordion-collapse collapse" aria-labelledby="faq-2-headTwo" data-bs-parent="#faq-2">
						<div class="accordion-body">Мы провели анализ рынка и пришли к выводу, что наши цены достаточно демократичны по сравнению с конкурентами. Есть, правда, более дешёвые предложения, но мы бы не советовали доверять специалистам, чьи тарифы подозрительно низки. Не обязательно, однако с большим процентом вероятности такая «щедрость» указывает на мошенничество (возьмут деньги и не предоставят услугу) или на начинающих, не имеющих достаточного опыта для качественного выполнения работ. Мы просим не запредельных, а реальных денег, и соблюдаем все свои обязательства.</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="faq-2-headThree">
						<button class="accordion-button collapsed fw-bolder pe-5" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2-Three" aria-expanded="false" aria-controls="faq-2-Three">
							Вы гарантируете, что сайт окупится?
						</button>
					</h2>
					<div id="faq-2-Three" class="accordion-collapse collapse" aria-labelledby="faq-2-headThree" data-bs-parent="#faq-2">
						<div class="accordion-body">Доходы от сайта зависят не только от того, насколько качественно он сделан и хорошо ли настроена реклама. Важны все тонкости процесса – от коммуникации менеджеров с клиентами до чёткости работы службы доставки. Важно всё – и клиентоориентированность, и ценовая политика, и отстройка от конкурентов, и все те управленческие решения, которые мы за вас принять не можем. Гарантируем, что качественно сделаем свою работу. И исправим все ошибки, если вдруг они у нас будут. Однако обнадёжим: в современном высококонкурентном мире хороший сайт уже сам по себе является большим преимуществом. А мы делаем именно качественные сайты!.</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>
</section>