<section id="info" class="info container-fluid info py-5">
  <div class="container">
    <!--INFO MAIN-->
    <div class="row justify-content-center">
      <h2 class="info__title col-12 col-md-6 mb-4 fs-2 fw-bolder text-center">Создание сайта</h2>
    </div>
    <div class="row justify-content-center">
      <p class="info__text col-12 col-md-10 text-center text-break fs-6 fs-sm-5">Чем серьёзней бизнес, тем сильней он нуждается в качественном интернет-сайте.
      </p>
      <p class="info__text col-12 col-md-10 text-center text-break fs-6 fs-sm-5">Идеальный вариант для ИП, самозанятого или небольшой фирмы – лаконичный продающий лендинг, его ещё называют одностраничным сайтом.
      </p>
      <p class="info__text col-12 col-md-10 text-center text-break fs-6 fs-sm-5">Чем крупнее ваше предприятие, тем больше ему пользы от корпоративного сайта, который и служит клиентской витриной, и координирует работу сотрудников.
      </p>
      <p class="info__text col-12 col-md-10 text-center text-break fs-6 fs-sm-5">Если вы продаёте товары через Интернет, то ваш естественный выбор – интернет-магазин. Количество товарных позиций в каталоге ничем не ограничено.
      </p>
    </div>
    <div class="row justify-content-center">
      <p class="info__text col-12 col-md-10 text-center text-break fs-6 fs-sm-5">«Велес» принимает заказы на разработку сайтов любой сложности:
      </p>
    </div>
    <!--INFO ITEM CARD-->
    <div class="row d-flex justify-content-between mt-3">
      <article class="info__item d-flex flex-column flex-sm-row justify-content-between align-items-center gap-1 gap-sm-2 col-12 col-md-6 border border-1 py-2 px-3">
      	<figure class="w-50 h-75 flex-grow-1 flex-shrink-1 flex-sm-shrink-0">
      		<img src="img/5.png" class="info__item-img img-fluid" alt="HAPPY CUSTOMERS">
      	</figure>
      	<p class="info__item-text flex-shrink-1 text-center text-break fs-6 fs-sm-5 fw-bolder">Создание сайта-визитки недорого</p>
      </article>
      <article class="info__item d-flex flex-column flex-sm-row justify-content-between align-items-center gap-1 gap-sm-2 col-12 col-md-6 border border-1 py-2 px-3">
      	<figure class="w-50 h-75 flex-grow-1 flex-shrink-1 flex-sm-shrink-0">
      		<img src="img/4.png" class="info__item-img img-fluid" alt="OPTIMIZATION">
      	</figure>
        <p class="info__item-text flex-shrink-1 text-center text-break fs-6 fs-sm-5 fw-bolder">Разработка web-сервисов</p>
      </article>
      <article class="info__item d-flex flex-column flex-sm-row justify-content-between align-items-center gap-1 gap-sm-2 col-12 col-md-6 border border-1 py-2 px-3">
      	<figure class="w-50 h-75 flex-grow-1 flex-shrink-1 flex-sm-shrink-0">
      		<img src="img/3.png" class="info__item-img img-fluid" alt="NEW MARKET">
      	</figure>
        <p class="info__item-text flex-shrink-1 text-center text-break fs-6 fs-sm-5 fw-bolder">Разработка веб портала</p>
      </article>
      <article class="info__item d-flex flex-column flex-sm-row justify-content-between align-items-center gap-1 gap-sm-2 col-12 col-md-6 border border-1 py-2 px-3">
      	<figure class="w-50 h-75 flex-grow-1 flex-shrink-1 flex-sm-shrink-0">
      		<img src="img/2.png" class="info__item-img img-fluid" alt="CUSTOMERS PLUS">
      	</figure>
        <p class="info__item-text flex-shrink-1 text-center text-break fs-6 fs-sm-5 fw-bolder">Создание многостраничного сайта под ключ</p>
      </article>
    </div>
  </div>
</section>