<section class="review container-fluid my-5 py-5">
	<!--REVIEW TITLE-->
	<div class="review__head container h-100 mb-4">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="review__title mb-4 fs-2 fw-bolder text-center">Наши работы</h2>
			</div>
		</div>
	</div>
	<!--REVIEW CAROUSEL-->
	<div class="review__list container-fluid">
		<div class="row">
			<div class="col">
				<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel"
					data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active text-center">
							<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/master_for_home.png">
									<source media="(min-width: 801px)" srcset="img/master_for_home.png">
									<img src="img/master_for_home.png" class="review__img" alt="master for home">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Классический Лендинг</h3>
								<p class="review__item-text">Удобный одностраничный сайт «Мастер на дом»</p>
								<p class="review__item-text">Элементарный дизайн, продуманная цветовая гамма, грамотно выбранный шрифт</p>
								<p class="review__item-text">Учтены все современные требования к функциям и внешнему виду одностраничных сайтов</p>
								<p class="review__item-text"><a href="https://xn--42-6kcaue1cegmskn.xn--p1ai/" target="_blank" class="review__item-link">https://мастернадом42.рф/</a></p>
							</div>
						</div>
					</div>
					<!-- ITEM #2 -->
					<div class="carousel-item  text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/santechnika.png">
									<source media="(min-width: 801px)" srcset="img/santechnika.png">
									<img src="img/santechnika.png" class="review__img" alt="master for home">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Лаконичный одностраничник</h3>
								<p class="review__item-text">Одностраничный сайт «Скупка техники» - образец лаконичности</p>
								<p class="review__item-text">Не нужно перенасыщать лендинг информацией, чтобы получить красивый, современный и функциональный сайт</p>
								<p class="review__item-text">На небольшом пространстве уместилось всё</p>
								<p class="review__item-text"><a href="http://xn--42-6kcupakad2aswrk9a.xn--p1ai/" target="_blank" class="review__item-link">http://скупкатехники42.рф/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-3-min.png">
							<source media="(min-width: 801px)" srcset="img/review-3.png">
							<img src="img/review-3.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-4-min.png">
							<source media="(min-width: 801px)" srcset="img/review-4.png">
							<img src="img/review-4.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-5-min.png">
							<source media="(min-width: 801px)" srcset="img/review-5.png">
							<img src="img/review-5.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	</div>
</section>