<section class="review container-fluid my-5 py-5">
	<!--REVIEW TITLE-->
	<div class="review__head container h-100 mb-4">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="review__title mb-4 fs-2 fw-bolder text-center">Наши работы</h2>
			</div>
		</div>
	</div>
	<!--REVIEW CAROUSEL-->
	<div class="container">
		<div class="row">
			<div class="col">
				<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel"
					data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active text-center">
							<div class="row d-flex  justify-content-center align-items-center">
							<div class="col-10 col-lg-5 h-100">
								<picture>
									<source media="(max-width: 800px)" srcset="img/master_for_home.png">
									<source media="(min-width: 801px)" srcset="img/master_for_home.png">
									<img src="img/master_for_home.png" class="img-fluid w-100 h-100 px-5" alt="SEO TEAM">
								</picture>
							</div>
							<div class="col-10 col-lg-5 h-100">
								<h3>Классический Лендинг</h3>
								<p>Удобный одностраничный сайт «Мастер на дом»</p>
								<p>Элементарный дизайн, продуманная цветовая гамма, грамотно выбранный шрифт</p>
								<p>Учтены все современные требования к функциям и внешнему виду одностраничных сайтов</p>
								<p><a href="https://xn--42-6kcaue1cegmskn.xn--p1ai/">https://мастернадом42.рф/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item  text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-2-min.png">
							<source media="(min-width: 801px)" srcset="img/review-2.png">
							<img src="img/review-2.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-3-min.png">
							<source media="(min-width: 801px)" srcset="img/review-3.png">
							<img src="img/review-3.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-4-min.png">
							<source media="(min-width: 801px)" srcset="img/review-4.png">
							<img src="img/review-4.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
					<div class="carousel-item text-center">
						<picture>
							<source media="(max-width: 800px)" srcset="img/review-5-min.png">
							<source media="(min-width: 801px)" srcset="img/review-5.png">
							<img src="img/review-5.png" class="img-fluid w-75 h-75 px-5" alt="SEO TEAM">
						</picture>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	</div>
</section>