<section class="review container-fluid my-5 py-5">
	<!--REVIEW TITLE-->
	<div class="review__head container h-100 mb-4">
		<div class="row flex-column justify-content-center align-items-center">
			<div class="col-12 d-flex flex-column justify-content-center align-items-center">
				<h2 class="review__title mb-4 fs-2 fw-bolder text-center">Наши работы</h2>
			</div>
		</div>
	</div>
	<!--REVIEW CAROUSEL-->
	<div class="review__list container-fluid">
		<div class="row">
			<div class="col">
				<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel"
					data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active text-center">
							<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/master_for_home-min.png">
									<source media="(min-width: 801px)" srcset="img/master_for_home.png">
									<img src="img/master_for_home.png" class="review__img" alt="master for home">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Классический Лендинг</h3>
								<p class="review__item-text">Удобный одностраничный сайт «Мастер на дом»</p>
								<p class="review__item-text">Элементарный дизайн, продуманная цветовая гамма, грамотно выбранный шрифт</p>
								<p class="review__item-text">Учтены все современные требования к функциям и внешнему виду одностраничных сайтов</p>
								<p class="review__item-text"><a href="https://xn--42-6kcaue1cegmskn.xn--p1ai/" target="_blank" class="review__item-link">https://мастернадом42.рф/</a></p>
							</div>
						</div>
					</div>
					<!-- ITEM #2 -->
					<div class="carousel-item  text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/santechnika-min.png">
									<source media="(min-width: 801px)" srcset="img/santechnika.png">
									<img src="img/santechnika.png" class="review__img" alt="santeh buy">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Лаконичный одностраничник</h3>
								<p class="review__item-text">Одностраничный сайт «Скупка техники» - образец лаконичности</p>
								<p class="review__item-text">Не нужно перенасыщать лендинг информацией, чтобы получить красивый, современный и функциональный сайт</p>
								<p class="review__item-text">На небольшом пространстве уместилось всё</p>
								<p class="review__item-text"><a href="http://xn--42-6kcupakad2aswrk9a.xn--p1ai/" target="_blank" class="review__item-link">http://скупкатехники42.рф/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/santech_standart-min.jpeg">
									<source media="(min-width: 801px)" srcset="img/santech_standart.jpeg">
									<img src="img/santech_standart.jpeg" class="review__img" alt="santeh standard">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Полноценный интернет-магазин</h3>
								<p class="review__item-text">Наша новая работа на базе OpenCart</p>
								<p class="review__item-text">Сайт, построенный на бесплатной платформе – самый финансово доступный, бюджетный вариант.</p>
								<p class="review__item-text">Весь набор необходимых функций, который обошёлся клиенту... в 15 тыс. рублей</p>
								<p class="review__item-text"><a href="https://xn--42-6kcaaxf7dc6addlcf4b.xn--p1ai/" target="_blank" class="review__item-link">https://сантехстандарт42.рф/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/stihl_kuzbass-min.png">
									<source media="(min-width: 801px)" srcset="img/stihl_kuzbass.png">
									<img src="img/stihl_kuzbass.png" class="review__img" alt="stihl kuzbass">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Корпоративный сайт с каталогом товаров и корзиной</h3>
								<p class="review__item-text">Сайт официального представителя немецкой фирмы STIHL в Кемерово и области</p>
								<p class="review__item-text">Сайт построен по принципу разумного минимализма</p>
								<p class="review__item-text">Адаптивный дизайн, заказ звонков, онлайн-покупки, каталог товаров, состоящий из 8 категорий</p>
								<p class="review__item-text"><a href="http://stihl-kuzbass.ru/" target="_blank" class="review__item-link">http://stihl-kuzbass.ru/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/media_spray-min.jpeg">
									<source media="(min-width: 801px)" srcset="img/media_spray.jpeg">
									<img src="img/media_spray.jpeg" class="review__img" alt="media spray">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Корпоративный сайт с каталогом товаров</h3>
								<p class="review__item-text">Одна из наших ярких (в прямом смысле) работ: интернет-магазин для Media Spray</p>
								<p class="review__item-text">Броский сайт с обилием графики и серьёзными, продуманными, уникальными текстами</p>
								<p class="review__item-text"><a href="https://mediaspray42.ru/" target="_blank" class="review__item-link">https://mediaspray42.ru/</a></p>
							</div>
						</div>
					</div>
					<div class="carousel-item text-center">
						<div class="review__item row d-flex gap-2 justify-content-center align-items-stretch">
							<div class="col-9 col-lg-4 h-auto">
								<picture class="review__pic h-100">
									<source media="(max-width: 800px)" srcset="img/siberian_trophy-min.png">
									<source media="(min-width: 801px)" srcset="img/siberian_trophy.png">
									<img src="img/siberian_trophy.png" class="review__img" alt="siberian trophy">
								</picture>
							</div>
							<div class="col-9 col-lg-4 h-auto d-flex flex-column gup-1 justify-content-center align-items-center">
								<h3 class="review__item-title fs-5">Интернет магазин Сибирский Трофей</h3>
								<p class="review__item-text">Каталог на 10+ тысяч торговых позиций</p>
								<p class="review__item-text">Интеграция всех служб оплаты и доставки, онлайн-кредитования, начисления бонусов клиентам</p>
								<p class="review__item-text">Обмен информацией по оплате и доставке заказов с программным комплексом 1С.Управление торговлей</p>
								<p class="review__item-text"><a href="https://xn--90aihbagbe2bqdeer6a.xn--p1ai/" target="_blank" class="review__item-link">https://сибирскийтрофей.рф</a></p>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
	</div>
</section>